<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>
<body>
<h1>welcome to text aanalyser.Enter your text below</h1>
<form action='/analyse',method="get">
    <textarea name='text' style='margin: 0px; width: 1324px; height: 150px;'></textarea>
    <input type="checkbox" name="removepunc">Remove Puctuation<br>
    <input type="checkbox" name="upercase">UPPERCASE<br>
    <input type="checkbox" name="newlineremover">Newline remover<br>
    <input type="checkbox" name="spaceremover">Space remover<br>
    <input type="checkbox" name="charcounter">Character counter<br>
    <button type="submit">Analyse text</button>
</form>
</body>
</html>